$color-dark: #141D2B;
$color-shadow: #111927;
$color-primary: #F6F6F6;
$color-secondary: #A4B1CD;
$color-tertiary: #9FEF00;

.color {
  &--primary {
    color: $color-primary;
  }

  &--dark {
    color: $color-dark;
  }

  &--shadow {
    color: $color-shadow;
  }

  &--secondary {
    color: $color-secondary;
  }

  &--tertiary {
    color: $color-tertiary;
  }
}
