@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;600;700&display=swap&family=VT323&display=swap');
@import "colors";
@import "layout";

$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-tertiary: 'VT323', monospace;

$font-size-small: 1.25rem;
$font-size-medium: 1.875rem;
$font-size-large: 2.187rem;
$font-size-extra-large: 3.125rem;

h1,
h2,
h3,
h4,
h5{
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  color: $color-primary;
  font-family: $font-primary;
  font-size: $font-size-extra-large;
  @include for-size(md) {
    font-size: $font-size-extra-large;
  }
}

h2 {
  color: $color-primary;
  font-family: $font-primary;
  font-size: $font-size-medium;
}

h3 {
  color: $color-tertiary;
  font-family: $font-primary;
  font-size: $font-size-large;

  &.h3--primary {
    color: $color-primary;
  }
}

h4 {
  color: $color-tertiary;
  font-family: $font-primary;
  font-size: $font-size-medium;

  &.h4--primary {
    color: $color-primary;
  }
}

h5 {
  color: $color-secondary;
  font-family: $font-secondary;
  font-size: $font-size-medium;
}

p {
  color: $color-secondary;
  font-family: $font-secondary;
  font-size: $font-size-small;
  line-height: 1.5;
  margin: 0;

  &.p--primary {
    color: $color-primary;
  }

  &.p--inherit {
    color: inherit;
    font-size: inherit;
    font-family: inherit ;
  }
}

.hack {
  font-family: $font-tertiary;
  transform: scale(1.4);
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: 0.875rem;
}
