<nav class="grid">
  <div class="logo">
    <span routerLink="/home" class="logo_text">Geras</span>
  </div>
  <div class="menu">
    <div class="subgrid">
      <ul class="menu_list">
        <li *ngFor="let menuItem of menuItems" class="menu_list_item">
          <a [href]="menuItem.key">
            {{menuItem.value}}
          </a>
        </li>
      </ul>
      <div class="menu_language">
        <ng-content select="#language"></ng-content>
      </div>
    </div>
  </div>

  <div class="hamburger-menu" (click)="toggleMenu()">
    <div class="hamburger-menu_icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="menu-animation">
    <ul class="hamburger-menu__list">
      <li *ngFor="let menuItem of menuItems" class="hamburger-menu__list__item">
        <a [href]="menuItem.key">
          {{menuItem.value}}
        </a>
      </li>
      <div class="hamburger-menu__list_language">
        <ng-content select="#hamburger-language"></ng-content>
      </div>
    </ul>
  </div>
</nav>

