@import "../../styles/colors";
@import "../../styles/layout";
@import "../../styles/sizes";

#about {
  background-image: url('../../../../assets/backgrounds/about.svg');
  background-size: cover;
  padding: $space-large 0;

  @include for-size(md) {
    padding: $space-large;
  }

  .row {
    grid-row-gap: 0.75rem;
    @include for-size(md) {
      grid-template-rows: repeat(2, 1fr);
    }
  }
}

.profile {
  padding: $space-x-small;
  @include for-size(md) {
    padding: $space-small;
  }

  &_avatar {
    grid-column: 1/5;
    @include flex(column, center, center);

    &_image,
    &_name,
    &_nickname {
      grid-column: 1/5;
      @include for-size(md) {
        grid-column: 1/13;
      }
    }

    &_image {
      background-image: url('../../../../assets/images/gerardomartinez.jpg');
      background-size: cover;
      background-position: center;
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      margin-bottom: $space-x-small;
    }
  }

  &_description {
    grid-column: 1/5;
    @include for-size(md) {
      grid-column: 6/13;
    }
  }

  &_content {
    grid-column: 1/5;
    padding: $space-x-small 0;
    @include for-size(md) {
      grid-column: 6/13;
      padding: $space-small;
    }

    &_social,
    &_description {
      grid-column: 1/5;
      @include for-size(md) {
        grid-column: 1/13;
      }
    }

    &_description {
      margin-bottom: $space-x-small;
    }

    &_social {
      @include flex(column, center, center);
      @include for-size(md) {
        flex-direction: row;
      }

      &_github, &_mail {
        display: grid;
        place-items: center;
        margin: 0 0.5rem;
        height: 3rem;
        width: 10rem;
      }
    }
  }
}

.card1,
.card2,
.card3 {
  grid-column: 1/5;
}

.card1,
.card2 {
  @include for-size(md) {
    grid-column: 1/7;
  }
}

.card1 {
  @include for-size(md) {
    grid-row: 1/2;
  }
}

.card2 {
  @include for-size(md){
    grid-row: 2/3;
  }
}

.card3 {
  @include for-size(md) {
    grid-column: 7/13;
    grid-row: 1/3;
  }
}
