@import "src/app/ui/styles/colors";
@import "src/app/ui/styles/layout";
@import "src/app/ui/styles/spaces";

#about {
  background-image: url('../../../../assets/backgrounds/about.svg');
  background-size: cover;

  @include for-size(md) {
    padding: $space-large;
  }
}

.profile {
  padding: $space-x-small;
  @include for-size(md) {
    padding: $space-small;
  }

  &_avatar {
    grid-column: 1/5;
    @include flex(column, center, center);

    &_image,
    &_name,
    &_nickname {
      grid-column: 1/5;
      @include for-size(md) {
        grid-column: 1/13;
      }
    }

    &_image {
      background-image: url('../../../../assets/images/littlecato.jpg');
      background-size: contain;
      background-position: center;
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      margin-bottom: $space-x-small;
    }
  }

  &_description {
    grid-column: 1/5;
    @include for-size(md) {
      grid-column: 6/13;
    }
  }

  &_content {
    grid-column: 1/5;
    padding: $space-x-small 0;
    @include for-size(md) {
      grid-column: 6/13;
      padding: $space-small;
    }

    &_social,
    &_description {
      grid-column: 1/5;
      @include for-size(md) {
        grid-column: 1/13;
      }
    }

    &_description {
      margin-bottom: $space-x-small;
    }

    &_social {
      @include flex(column, center, center);
      @include for-size(md) {
        flex-direction: row;
      }

      &_github, &_mail {
        display: grid;
        place-items: center;
        margin: 0 0.5rem;
        height: 3rem;
        width: 10rem;
      }
    }
  }
}

.card1,
.card2 {
  grid-column: 1/5;
}

.card1 {
  margin-bottom: $space-x-small;

  @include for-size(md) {
    grid-column: 1/7;
    margin-bottom: 0;
  }
}

.card2 {
  @include for-size(md) {
    grid-column: 7/13;
  }
}
