@import "src/app/ui/styles/layout";
@import "../../styles/sizes";
@import "src/app/ui/styles/colors";

#hero {
  background-image: url('../../../../assets/backgrounds/hero.svg');
  background-size: cover;
}

.content,
.navbar,
.content_title,
.content_paragraph {
  grid-column: 1/5;
  @include for-size(md) {
    grid-column: 1/13;
  }
}

.navbar {
  background: $color-shadow;
  margin-bottom: $space-small;
  position: fixed;
  width: 100vw;
  z-index: 1;
  @include for-size(md) {
    margin-bottom: 0;
  }
}

.content {
  padding: $space-small 0;
  margin-top: $space-large;
  @include for-size(md) {
    padding: $space-extra-large 0;
  }

  &_title {
    margin-bottom: $space-small;
  }

  &_paragraph {
    margin-bottom: $space-large;
  }

  &_button-primary,
  &_button-secondary {
    grid-column: 1/5;
  }

  &_button-primary {
    margin-bottom: $space-x-small;
    @include for-size(md) {
      margin-bottom: 0;
      place-self: flex-end;
      grid-column: 1/7;
    }
  }

  &_button-secondary {
    @include for-size(md) {
      place-self: flex-start;
      grid-column: 7/13;
    }
  }
}

