<about-layout>
  <p id="avatar-name" class="text-center">Gerardo Martínez Junco</p>
  <p id="avatar-nickname">@geras</p>
  <app-button id="button-primary"
              size="md"
              color="tertiary"
              type="outline"
              faIcon="fab fa-github"
              btnText="github">
  </app-button>
  <app-button id="button-secondary"
              size="md"
              color="tertiary"
              type="outline"
              faIcon="far fa-envelope"
              btnText="mail me">
  </app-button>
</about-layout>
