@import "src/app/ui/styles/colors";
@import "src/app/ui/styles/typography";
@import "src/app/ui/styles/layout";
@import "src/app/ui/styles/animations";
@import "src/app/ui/styles/sizes";

*:not(ul) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: $color-dark;
  font-size: 16px;
  font-family: $font-secondary;
}
